*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header
{
    background-color: #cc1124;
    padding: 5px;
}
.header span
{
    margin-left: 20px;
    color: white;
    border-right: 2px solid white ;
    font-size: 14px;
}
@media screen and (max-width:880px) {

    .header span
    {
        font-size: 8px;
        margin-left: 5px;
    }
    
}
@media screen and (max-width:350px) {

    .header span
    {
        display: none;
    }
}